@import url(/components/Navbar.css);
@import url(/components/Apresentaçao.css);
@import url(/components/footer.css);
@import url(/components/produtos.css);
@import url(/components/about.css);
@import url(/components/produtos/page-produtos.css);
@import url(/components/hero.css);
@import url(/components/produtos/produtos-cards.css);


/*  index.html */

body{
    margin: 0;
    overflow-x: hidden;
}
.main{
    position: relative;

    min-height: 100vh;
    width: 100%;

    padding-top: 100px;

    background-image:
    url(assets/imagem_fundo.jpg),
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0.55) 0%,
        rgba(0, 0, 0, 0.20) 50%,
        rgba(0, 0, 0, 0) 85%
    );

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-blend-mode: multiply;

    overflow: hidden;

    z-index: 1;
}
.main::before{
    content: "";

    position: absolute;

    width: 100%;
    height: 100px;

    left: 0;
    top: 0;

    border-top: 18px solid gold;

    border-radius: 50% 50% 0 0;

    z-index: 2;

    pointer-events: none;
}
.main::after {
    content: "";

    position: absolute;

    width: 100%;
    height: 100px;

    left: 0;
    bottom: 0;

    background: transparent;

    border-bottom: 18px solid gold;

    border-radius: 0 0 50% 50%;

    z-index: 2;

    pointer-events: none;
}